<div class="header">
  <div class="header-top">
    <a href=""
       class="logo"
       [routerLink]="['distance']">
      <img src="../../../assets/images/logo.svg" alt="">
    </a>
    <a href=""
       [routerLink]="['distance']"
       class="header-title">Weekend Getaways <span>in India</span></a>
  </div>

  <div class="header-menu">
    <ul class="nav">
      <li class="nav-item">
        <a href=""
           class="nav-link nav-link-distance"
           [routerLink]="['distance']"
           [routerLinkActive]="['active']"
           (click)=" backgroundService.setBGImage()">
          <span>Distance</span>
        </a>
      </li>
      <li class="nav-item">
        <a href=""
           class="nav-link nav-link-popular"
           [routerLink]="['popular']"
           [routerLinkActive]="['active']"
           (click)=" backgroundService.setBGImage()">
          <span>Popular <br> Destinations</span>
        </a>
      </li>
      <li class="nav-item">
        <a href=""
           class="nav-link nav-link-explore"
           [routerLink]="['explore']"
           [routerLinkActive]="['active']"
           (click)=" backgroundService.setBGImage()">
          <span>Explore</span>
        </a>
      </li>
    </ul>
  </div>
</div>
