@import "../../../styles/variables";

.header{
  position: relative;
  margin-bottom: 90px;
  padding: 40px 30px 30px 30px;
  text-align: center;
  background: url(../../../assets/images/line-desktop.svg) no-repeat calc(50% + 191px) 0px;
  background-size: 1535px;
  .logo{
    position: absolute;
    display: block;
    width: 254px;
    margin-top: 21px;
    margin-left: 39px;
    img{
      width: 100%;
    }
  }
}
.header-top{
  margin-bottom: 49px;
}
.header-title{
  display: inline-block;
  padding: 22px 222px 27px 222px;
  border-radius: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: white;
  background-color: $dark-blue;
  &:hover{
    text-decoration: none;
  }
}
.header-menu{
  .nav{
    text-align: center;
    justify-content: center;
  }
  .nav-item{
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
  }
  .nav-link{
    position: relative;
    display: flex;
    width: 233px;
    height: 81px;
    align-items: center;
    padding: 0 27px 0 102px;
    border: 6px solid #a0cbeb;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    color: $dark-blue;
    background-color: white;
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 11px;
      left: 18px;
      width: 65px;
      height: 50px;
    }
    &.active{
      background-color: #ffcb00;
      border-color: #1480cc;
      &:before{
        content: '';
        position: absolute;
        top: calc(100% + 6px);
        left: 41%;
        z-index: -1;
        display: block;
        width: 38px;
        height: 61px;
        background: url("../../../assets/images/white-arrow.svg") no-repeat;
      }
    }
  }
  .nav-link-distance{
    &:after{
      background: url("../../../assets/images/st-distance.svg") no-repeat;
    }
  }
  .nav-link-popular{
    padding-left: 76px;
    padding-right: 10px;
    text-align: left;
    line-height: 1;
    &:after{
      left: 15px;
      background: url("../../../assets/images/st-popular.svg") no-repeat;
    }
  }
  .nav-link-explore{
    padding-left: 113px;
    &:after{
      background: url("../../../assets/images/st-explore.svg") no-repeat;
    }
  }
}

@media screen and (min-width: 1920px){
  .header{
    &:before{
      content: "";
      position: absolute;
      top: 243px;
      right: 0;
      display: block;
      width: 50%;
      height: 5px;
      background-color: white;
    }
  }
}

@media screen and (min-width:769px) and (max-width:1280px) {
  .header {
    margin-bottom: 48px;
    padding-top: 25px;
    background-image: url(../../../assets/images/line.svg);
    background-position: calc(50% + 129px) -3px;
    background-size: 1024px;
    .logo{
      position: absolute;
      width: 169px;
      margin-top: 5px;
      margin-left: 17px;
    }
  }
  .header-top{
    margin-bottom: 30px;
  }
  .header-title {
    padding: 20px 194px;
    font-size: 24px;
    font-weight: 600;
  }
  .header-menu{
    padding-left: 9px;
    .nav-link {
      height: 57px;
      width: 162px;
      padding-left: 67px;
      margin-right: 8px;
      font-size: 14px;
      font-weight: 700;
      &:after{
        width: 43px;
        height: 32px;
        top: 7px;
        left: 11px;
      }
      &.active:before{
        width: 28px;
        height: 43px;
      }
    }
    .nav-link-popular{
      padding-top: 0;
      padding-left: 51px;
      line-height: 1.3;
    }
    .nav-link-explore{
      padding-left: 66px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .header {
    .logo {
      margin-top: 13px;
   }
  }
}

@media screen and (max-width: 1024px) {
  .header-title{
    padding-left: 130px;
    padding-right: 130px;
  }
  .header {
    .logo {
      margin-top: -21px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 24px;
    padding: 32px 0 0 0;
    background: none;
    .logo {
      position: static;
      display: inline-block;
      width: 183px;
      margin-left: 0;
      margin-top: 4px;
    }
    &:before {
      content: "";
      position: absolute;
      display: block;
      right: 45px;
      top: -22px;
      height: 178px;
      width: 100%;
      border-bottom: 5px solid white;
      border-right: 5px solid white;
      border-radius: 25px;
      background-color: transparent;
    }
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    padding-left: 59px;
  }
  .header-title {
    position: relative;
    margin-right: 16px;
    padding-left: 47px;
    padding-right: 56px;
    padding-top: 13px;
    padding-bottom: 14px;
    font-size: 30px;
    font-weight: 600;
  }
  .header-menu {
    .nav-link{
      height: 62px;
      width: 178px;
      padding-left: 78px;
      padding-right: 10px;
      margin-right: 10px;
      font-size: 18px;
      font-weight: 600;
      &.active{
        &:before{
          content: none;
        }
      }
      &:after{
        top: 8px;
        left: 14px;
        width: 47px;
        height: 36px;
      }
    }
    .nav-link-popular{
      padding-left: 57px;
      line-height: 1.2;
      &:after{
        left: 10px;
      }
    }
    .nav-link-explore{
      padding-left: 68px;
      &:after{
        top: 9px;
        left: 10px;
      }
    }
    .nav{
      padding-left: 12px;
    }
  }
}

@media screen and (max-width: 425px) {
  .header{
    margin-bottom: 10px;
    padding-top: 0;
    &:before{
      display: none;
    }
    .logo{
      width: 150px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .header-top{
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
  }
  .header-title {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 8px 0 9px;
    border-radius: 6px;
    font-size: 18px;
  }
  .header-menu{
    .nav{
      display: flex;
      justify-content: center;
      padding: 0;
    }
    .nav-item{
      margin-right: 0;
    }
    .nav-link{
      height: 39px;
      width: 124px;
      margin-right: 6px;
      padding-left: 53px;
      padding-right: 10px;
      border-width: 3px;
      border-radius: 6px;
      font-size: 12px;
      font-weight: 700;
      &:after{
        top: 5px;
        left: 11px;
        width: 31px;
        height: 25px;
      }
    }
    .nav-link-popular{
      padding-top: 0;
      padding-left: 39px;
      line-height: 1;
      &:after{
        left: 8px;
      }
    }
    .nav-link-explore{
      padding-left: 50px;
      margin-right: 0;
      &:after{
        top: 4px;
        left: 9px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .header{
    margin-bottom: 20px;
    &:before {
      top: -37px;
    }
    .logo{
      margin-top: 11px;
    }
  }
  .header-top {
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 12px;
  }
  .header{
    .logo
    {
      img{
        width: 93%;
      }
    }
  }
  .header-title{
    margin-right: 8px;
  }
  .header-menu {
    .nav-link{
      width: 102px;
      margin-right: 2px;
      padding-left: 33px;
      padding-right: 0;
      font-size: 13px;
      &:after{
        left: 5px;
        width: 28px;
        height: 22px;
        background-size: contain;
      }
    }
    .nav-link-popular{
      padding-left: 25px;
      padding-top: 3px;
      &:after{
        left: 2px;
      }
    }
  }
}
