<div class="destinations">

  <div class="destinations-title destinations-title-popular" *ngIf="popular">
    <p class="destinations-title-name">
      Most Popular Destinations
    </p>
  </div>

  <div class="destinations-title destinations-title-explore" *ngIf="explore">
    <p class="destinations-title-name">
      Explore Destinations
    </p>
  </div>

  <div class="destinations-title">
    <div class="destinations-title-name">
      <span>Journey</span>
      <span>length:</span>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item nav-item-close">
        <a [ngClass]="{'nav-link': true, 'nav-link-close': true, 'active': range == rangeTypes[0]}"
           (click)="setRange('min')">
          <span>small mark</span>
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{'nav-link': true, 'nav-link-middle': true, 'active': range == rangeTypes[1]}"
           (click)="setRange('average')">
          <span>middle mark</span>
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{'nav-link': true, 'nav-link-long': true, 'active': range == rangeTypes[2]}"
           (click)="setRange('max')">
          <span>large mart</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="destinations-select-start">
      <ng-select [allowClear]="true"
                 [items]="items"
                 (data)="refreshValue($event)"
                 placeholder="Start your trip from...">
      </ng-select>
  </div>

  <div class="destinations-distance-title">
    <div class="tab-content">
      <div [ngClass]="{'tab-pane': true, 'min-dist': true, 'active': range == rangeTypes[0]}">
        < 200 KM
      </div>
      <div [ngClass]="{'tab-pane': true, 'average-dist': true, 'active': range == rangeTypes[1]}">
        200 - 400 KM
      </div>
      <div [ngClass]="{'tab-pane': true, 'max-dist': true, 'active': range == rangeTypes[2]}">
        400+ KM
      </div>
    </div>
  </div>

  <div class="destinations-list">
    <div class="destinations-item"
         (click)="openModal(template, city.id)"
         *ngFor="let city of cities">
      <img src="../../../../assets/images/backgound-img.jpg" alt="">
      <div class="destinations-info">
        <p class="destinations-name">{{city.city}}</p>
        <p class="destinations-hours">{{city.hours.split('h').join(' hours ')}} minuts</p>
      </div>
      <div class="destinations-distance">
        <span>{{city.distance}} KM</span>
      </div>
    </div>
  </div>

</div>

<ng-template #template>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true"><< Back to results</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="popup">
      <div class="container">
        <div class="row top">
          <div class="col-6">
            <div class="detail-title">{{openedCity.city}}</div>
          </div>
          <div class="col-6">
            <div class="detail-desc">{{openedCity.desc}}</div>
          </div>
        </div>
        <div class="detail-img">
          <!--<img [src]="'../../../../assets/images/' + openedCity.image + '.jpg'" alt="">-->
          <img src="../../../assets/images/backgound-img.jpg" alt="">
          <div class="social">
            <a href="" class="social-item social-fb">
            </a>
            <a href="" class="social-item social-tw">
            </a>
          </div>
        </div>
        <ul class="row nav nav-tabs">
          <li class="col-4 nav-item nav-item-route">
            <a class="nav-link active">Route</a>
          </li>
          <li class="col-4 nav-item nav-item-car">
            <a class="nav-link"
               [href]="openedCity.car"
               target="_blank">Car hire in {{openedCity.city}}</a>
          </li>
          <li class="col-4 nav-item nav-item-hotel">
            <a class="nav-link"
               [href]="openedCity.hotel"
               target="_blank">Hotel in {{openedCity.city}}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="row tab-pane active">
            <div class="col-4  flex-block">
              <div class="tab-distance">
                <span>Distance</span>
                <span class="modal-distance">{{openedCity.distance}}km</span>
              </div>
            </div>
            <div class="col-8 small-map">
              <app-route-map [origin]="originRouteMap"
                             [destination]="destinationRouteMap">
              </app-route-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>



