@import "../../../styles/variables";

.destinations{
  width: 628px;
  position: absolute;
  left:25px;
  top: 25px;
  .nav-link{
    border-radius: 0;
    border: none;
    &:hover{
      border-radius: 0;
      border: none;
    }
  }
}
.destinations-name{
  line-height: 1;
  font-weight: 600;
}
.destinations-title{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 26px;
  padding: 23px 0 23px 67px;
  border: 2px solid $dark-blue;
  border-radius: 5px;
  font-size: 26px;
  font-weight: bold;
  background-color: #dedede;
  color: $dark-blue;
  span{
    display: block;
    color: $dark-blue;
  }
  .nav-link-close{
    height: 44px;
    width: 30px;
  }
  .nav-link-middle{
    width: 40px;
    height: 60px;
  }
  .nav-link-long{
    width: 50px;
    height: 74px;
  }
  .nav-item{
    margin-right: 77px;
  }
  .nav-tabs{
    display: flex;
    align-items: center;
    .nav-item{
      &:last-of-type{
        margin-right: 0;
      }
    }
    .nav-link{
      padding: 0;
      background: url(../../../assets/images/st-journey-lenght-lt.svg) center center no-repeat;
      cursor: pointer;
      span{
        display: none;
      }
      &:hover{
        border: none;
      }
    }
    .nav-link.active{
      border: none;
      background: url(../../../assets/images/st-journey-lenght-dark.svg) center center no-repeat;
      .cls-1{
        fill: $dark-blue;
      }
    }
  }
}
.destinations-title-name{
  margin-bottom: 0;
  margin-right: 120px;
  font-size: 26px;
  line-height: 1.3;
}
.destinations-title-explore{
  padding: 32px 50px 31px 160px;
  .destinations-title-name{
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 13px;
      left: 47px;
      width: 74px;
      height: 74px;
      background: url(../../../assets/images/st-explore.svg) no-repeat;
    }
  }
}
.destinations-title-popular{
  position: relative;
  padding: 30px 50px 33px 179px;
  .destinations-title-name{
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 22px;
      left: 49px;
      height: 74px;
      width: 70px;
      background: url(../../../assets/images/st-popular.svg) no-repeat;
    }
  }
}
.destinations-item{
  position: relative;
  width: 100%;
  height: 175px;
  margin-bottom: 24px;
  overflow: hidden;
  &>*{
    position: absolute;
    z-index: 10;
  }
  img{
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
}
.destinations-list{
  height: 992px;
  margin-bottom: 15px;
  padding-left: 0;
  list-style: none;
  overflow-y: scroll;
}
.destinations-info{
  display: inline-block;
  width: 232px;
  height: 100%;
  padding-top: 15px;
  padding-left: 24px;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 53, 95, 0.7);
}
.destinations-distance{
  top: 21px;
  right: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 106px;
  width: 106px;
  border: 3px solid $dark-blue;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  background-color: white;
  color: $dark-blue;
}
.destinations-hours{
  font-weight: 100;
}
.destinations-distance-title{
  color: white;
  background-color: $dark-blue;
  border-radius: 5px;
  padding: 23px 0 23px 73px;
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 1;
}
.destinations-list{
  height: 900px;
  margin-bottom: 15px;
  padding-left: 0;
  list-style: none;
  overflow-y: scroll;
}
.destinations-select-start{
  width: 100%;
  margin-bottom: 18px;
}

@media screen and (min-width:769px) and (max-width:1280px) {
  .destinations{
    width: 418px;
    position: absolute;
    left: 24px;
    top: 18px;
  }
  .destinations {
    width: 418px;
    position: absolute;
    left: 24px;
    top: 18px;
  }
  .destinations-title {
    margin-bottom: 18px;
    padding-left: 44px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 19px;
    font-weight: 600;
    .nav-item{
      margin-right: 51px;
    }
    .nav-link-close{
      height: 30px;
      width: 20px;
    }
    .nav-link-middle{
      width: 27px;
      height: 40px;
    }
    .nav-link-long{
      width: 33px;
      height: 50px;
    }
  }
  .destinations-list{
    height: 550px;
  }
  .destinations-title-name {
    margin-right: 70px;
    font-size: 18px;
    line-height: 1.2;
  }
  .destinations-distance-title {
    margin-bottom: 15px;
    padding: 15px 0 15px 50px;
    font-size: 21px;
  }
  .destinations-item {
    height: 127px;
    margin-bottom: 23px;
    img{
      height: auto;
    }
  }
  .destinations-distance {
    top: 24px;
    right: 70px;
    height: 80px;
    width: 80px;
    font-size: 18px;
    font-weight: 600;
  }
  .destinations-info {
    width: 207px;
    padding-top: 21px;
    padding-left: 30px;
    font-size: 21px;
  }
  .destinations-hours{
    font-weight: 300;
  }
  .destinations-title-popular,
  .destinations-title-explore{
    .destinations-title-name{
      padding-left: 45px;
      &:before{
        top: 8px;
        left: 19px;
        height: 40px;
        width: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .destinations{
    left: 17px;
    width: 453px;
    .nav-link-close{
      width: 22px;
      height: 33px;
    }
    .nav-link-middle{
      width: 29px;
      height: 43px;
    }
    .nav-link-long{
      width: 36px;
      height: 54px;
    }
  }
  .destinations-title {
    padding: 12px 40px 12px 40px;
    .nav-item{
      margin-right: 55px;
    }
    .destinations-title-name{
      margin-right: 70px;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.2;
    }
  }
  .destinations-item{
    height: 119px;
    margin-bottom: 26px;
  }
  .destinations-distance{
    top: 13px;
    right: 56px;
    height: 60px;
    width: 60px;
    border-width: 2px;
    font-size: 14px;
  }
  .destinations-info{
    padding-top: 17px;
    padding-left: 32px;
    font-size: 19px;
  }
  .destinations-hours{
    font-size: 24px;
    font-weight: 300;
  }
  .destinations-name{
    font-size: 24px;
  }
  .destinations-distance-title{
    padding: 13px 46px 13px;
    margin-bottom: 21px;
    font-size: 24px;
  }
  .destinations-list{
    height: 700px;
  }
  .destinations-title-popular,
  .destinations-title-explore{
    padding-left: 30px;
    .destinations-title-name{
      margin-right: 0;
    }
  }
  .destinations-title-popular,
  .destinations-title-explore{
    .destinations-title-name{
      padding-left: 45px;
      &:before{
        top: 8px;
        left: 19px;
        height: 40px;
        width: 40px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .destinations{
    top: 10px;
    z-index: 2;
    left: 15px;
    width: 93%;
    .nav-link{
      padding-top: 8px;
    }
    .nav-link-close {
      width: 14px;
      height: 22px;
    }
    .nav-link-middle {
      width: 20px;
      height: 30px;
    }
    .nav-link-long {
      width: 25px;
      height: 37px;
    }
  }
  .destinations-title{
    margin-bottom: 10px;
    padding-left: 23px;
    padding-top: 10px;
    padding-bottom: 12px;
    .destinations-title-name{
      margin-right: 55px;
      font-size: 14px;
      span{
        display: block;
      }
    }
    .nav-item{
      &:not(:last-of-type){
        margin-right: 73px;
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  .destinations-distance-title{
    margin-bottom: 11px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 28px;
    font-size: 19px;
  }
  .destinations-list {
    height: 500px;
    margin-bottom: 0;
  }
  .destinations-name{
    margin-bottom: 15px;
    font-size: 18px;
  }
  .destinations-hours{
    font-size: 18px;
    font-weight: 100;
  }
  .destinations-item{
    margin-bottom: 10px;
  }
  .destinations-info{
    width: 194px;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 15px;
  }
  .destinations-distance{
    right: 32px;
  }
  .destinations-select-start{
    margin-bottom: 10px;
  }
  .destinations-title-popular .destinations-title-name:before,
  .destinations-title-explore .destinations-title-name:before {
    top: 4px;
    left: 19px;
    height: 30px;
    width: 30px;
  }
  .destinations-title-explore .destinations-title-name:before{
    top: 6px;
  }
}
