<div class="destinations">
  <div class="destinations-title">
    <div class="destinations-title-name">
      <span>Journey</span>
      <span>length:</span>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item nav-item-close">
        <a class="nav-link nav-link-close active"
           data-toggle="tab"
           href="#close"
           role="tab"
           (click)="setRange('min')">
          <span>small mark</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-middle"
           data-toggle="tab"
           href="#middle"
           role="tab"
           (click)="setRange('average')">
          <span>middle mark</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-long"
           data-toggle="tab"
           href="#far"
           role="tab"
           (click)="setRange('max')">
          <span>large mart</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="destinations-title destinations-title-explore">
    <p class="destinations-title-name">
      Explore Destinations
    </p>
  </div>
  <div class="destinations-title destinations-title-popular">
    <p class="destinations-title-name">
      Most Popular Destinations
    </p>
  </div>

  <div class="destinations-select-start">
      <ng-select [allowClear]="true"
                 [items]="items"
                 (data)="refreshValue($event)"
                 placeholder="Start your trip from...">
      </ng-select>
  </div>

  <div class="destinations-distance-title">
    <div class="tab-content">
      <div class="tab-pane min-dist active" id="close" role="tabpanel">
        < 200 KM
      </div>
      <div class="tab-pane average-dist" id="middle" role="tabpanel">
        200 - 400 KM
      </div>
      <div class="tab-pane max-dist" id="far" role="tabpanel">
        400+ KM
      </div>
    </div>
  </div>

  <div class="destinations-list">
    <div class="destinations-item"
         (click)="openModal(template, city.id)"
         *ngFor="let city of cities">
      <img src="../../../../assets/images/backgound-img.jpg" alt="">
      <div class="destinations-info">
        <p class="destinations-name">{{city.city}}</p>
        <p class="destinations-hours">{{city.hours}}</p>
      </div>
      <div class="destinations-distance">
        <span>{{city.distance}}</span>
      </div>
    </div>
  </div>

</div>

<ng-template #template>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true"><< Back to results</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="popup">
      <div class="container">
        <div class="row top">
          <div class="col-6">
            <div class="detail-title">{{openedCity.city}}</div>
          </div>
          <div class="col-6">
            <div class="detail-desc">{{openedCity.description}}</div>
          </div>
        </div>
        <div class="detail-img">
          <!--<img [src]="'../../../../assets/images/' + openedCity.image + '.jpg'" alt="">-->
          <img src="../../../assets/images/backgound-img.jpg" alt="">
          <div class="social">
            <a href="" class="social-item social-fb">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="social-item social-tw">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
        <ul class="row nav nav-tabs" role="tablist">
          <li class="col-4 nav-item nav-item-route">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Route</a>
          </li>
          <li class="col-4 nav-item nav-item-car">
            <a class="nav-link" href=""></a>
          </li>
          <li class="col-4 nav-item nav-item-hotel">
            <a class="nav-link" href=""></a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="row tab-pane active" id="home" role="tabpanel">
            <div class="col-4  flex-block">
              <div class="tab-distance">
                <span>Distance</span>
                <span class="modal-distance">{{openedCity.distance}}km</span>
              </div>
            </div>
            <div class="col-8 small-map">
              <app-route-map [origin]="origin"
                             [destination]="destination">
              </app-route-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>



