<div class="places-item"
     (click)="openModal(template)">
  <img src="../../../../assets/images/backgound-img.jpg" alt="">
  <div class="places-info">
    <p class="places-name">1</p>
    <p class="places-hours">1</p>
  </div>
  <div class="places-distance">
    <span>1</span>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><< Back to results</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="popup">
      <div class="container">
        <div class="row top">
          <div class="col-6">
            <div class="detail-title">Mumbai</div>
          </div>
          <div class="col-6">
            <div class="detail-desc">
            </div>
          </div>
        </div>
        <div class="detail-img">
          <img src="../../../../assets/images/popup.jpg" alt="">
          <div class="social">
            <a href="" class="social-item social-fb">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="social-item social-tw">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
        <ul class="row nav nav-tabs" role="tablist">
          <li class="col-4 nav-item nav-item-route">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Route</a>
          </li>
          <li class="col-4 nav-item nav-item-car">
            <a class="nav-link"
               href=""></a>
          </li>
          <li class="col-4 nav-item nav-item-hotel">
            <a class="nav-link"
               href=""></a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="row tab-pane active" id="home" role="tabpanel">
            <div class="col-4  flex-block">
              <div class="tab-distance">
                <span>Distance</span>
                <span class="modal-distance"></span>
              </div>
            </div>
            <div class="col-8 small-map">
              <route-map></route-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>