@import "variables";

body{
    background-color: $dark-blue;
}

.ui-select-choices.dropdown-menu {
    display: block;
}

.btn-secondary {
    background-color: #fff !important;
    color: black !important;

    .dropdown-toggle {
        top: 25px;
        right: 15px;
        position: absolute;
    }
}

.nav-tabs{
    border: none;
}

.social{
    position: fixed;
    right: 0;
    top: 306px;
}

.social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    width: 75px;
    height: 75px;
    &:hover{
        color: white;
    }
}

.social-fb{
    background: #3B5998 url("../assets/images/facebook.svg") center no-repeat;
    background-size: 22px;
    margin-bottom: 26px;
}
.social-tw{
    background: #00ACED url("../assets/images/tw.svg") center no-repeat;
    background-size: 42px;
}

@media screen and (min-width:769px) and (max-width:1280px) {
    .tab-content {
        padding-top: 0;
    }
    .btn-secondary {
        .dropdown-toggle {
            top: 13px;
        }
    }
}

.modal-header{
    height: 69px !important;
}
.modal-body{
    padding: 0 !important;
    border-radius: 0;
}
.modal-dialog{
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1008px;
    left: 0;
}
.modal-header{
    padding: 0 !important;
    button.close{
        margin: 0 !important;
    }
}
.attrastion-desc{
    font-size: 21px;
}
.flex-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
button.close{
    background-color: $dark-blue !important;
    opacity: 1 !important;
    color: white !important;
    height: 100%;
    width: 100%;
    padding: 0 0 0 15px !important;
    font-weight: 100;
    text-align: left;
    &:hover{
        color: white;
    }
    span {
        font-size: 24px;
    }
}
.popup{
    background-color: #efefef;
    padding: 32px 49px 17px 49px;
    .container{
        padding: 0;
    }
    .top{
        margin-bottom: 67px;
    }
    .detail-img{
        margin-bottom: 52px;
        height: 300px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .nav-link{
        font-size: 24px;
        color: $dark-blue;
        border: 0 !important;
        border-radius: 0;
        background-color: white;
        padding: 19px 0;
        text-align: center;
        &.active{
            background-color: #ffcb00 !important;
            font-weight: 700;
        }
    }
    .tab-distance{
        background-color: $dark-blue;
        color: white;
        padding: 26px 40px;
        border-radius: 3px;
        text-align: center;
        width: 100%;
        font-size: 24px;
        span{
            display: block;
        }
    }
    .tab-content{
        padding: 25px 0 30px;
    }
    .route-map{
        width: 100%;
        height: 280px;
    }
    .tab-low{
        flex-wrap: wrap;
        .row {
            margin-bottom: 26px;
        }
    }
    .tab-content>.active{
        display: flex;
    }
    .socail{
        display: none;
    }
}
.detail-title{
    background-color: #1480cc;
    color: white;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 4px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.detail-desc{
    font-size: 18px;
    color: #00355f;
}

@media screen and (min-width:769px) and (max-width:1280px) {
    .modal-header{
        height: 37px !important;
    }
    .modal-dialog {
        max-width: 750px !important;
        .detail-title {
            font-size: 20px;
        }
    }
    button.close {
        padding-top: 3px;
        padding-bottom: 9px;
        font-size: 17px;
        span {
            font-size: 17px;
        }
    }
    .popup {
        .top {
            margin-bottom: 30px;
        }
        .nav-link {
            font-size: 15px;
            padding-top: 11px;
            padding-bottom: 11px;
        }
        .detail-img {
            height: 213px;
            margin-bottom: 30px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .detail-title {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        .tab-distance {
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 17px;
            span {
                display: inline;
            }
        }
    }
    .detail-desc{
        font-size: 14px;
    }
    .social-item{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .social{
        top: 200px;
        font-size: 29px;
    }
    .social-fb{
        margin-bottom: 17px;
        background-size: 15px;
    }
    .social-tw{
        background-size: 29px;
    }
}

@media screen and (max-width: 768px) {
    .btn-secondary {
        .dropdown-toggle {
            top: 13px;
        }
    }
    .modal-dialog {
        max-width: 565px;
        transform: translateX(0) !important;
        left: 0;
        .detail-title {
            font-size: 18px;
        }
        .detail-desc {
            line-height: 1.1;
            font-size: 12px;
        }
        .detail-img {
            width: 100%;
        }
    }
    .popup {
        padding: 36px 7px 10px 8px;
        .top {
            margin-bottom: 29px;
        }
        .detail-img {
            margin-bottom: 28px;
        }
        .nav-link {
            border-radius: 4px;
            font-size: 13px;
            &.active {
                color: #00355f !important;
            }
        }
        .tab-distance {
            font-size: 16px;
            padding: 15px 0;
            span {
                display: inline;
            }
        }
        .socail {
            top: 258px;
            display: block;
        }
        .social-item {
            width: 38px;
            height: 38px;
            font-size: 23px;
        }
    }
    button {
        &.close {
            position: absolute;
            z-index: 1;
            top: -11px;
            right: -3px;
            width: 42px;
            height: 42px;
            border: 2px solid #00355f;
            border-radius: 50%;
            background: white url("../assets/images/close-button.svg") center center no-repeat !important;
            background-size: 50% !important;
            opacity: 1;
            span {
                display: none;
            }
        }
    }
    .detail-title {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .popup{
        .social-fb{
            background-size: 12px;
        }
    }
    .popup{
        .social-tw{
            background-size: 22px;
        }
    }
    .modal-header{
        height: 0 !important;
    }
}

@media screen and (max-width: 425px) {
    .btn-secondary {
        .dropdown-toggle {
            top: 7px;
        }
    }
    button.close {
        width: 36px;
        height: 36px;
    }
    .modal-header{
        height: 0 !important;
    }
    .modal-dialog {
        top: 10px;
        width: 96%;
        .detail-title {
            padding-top: 3px;
            padding-bottom: 4px;
            font-size: 14px;
        }
        .detail-desc {
            font-size: 11px;
        }
    }
    .popup {
        .nav-link {
            padding-top: 9px;
            padding-bottom: 9px;
            font-size: 11px;
        }
        .tab-content {
            padding-top: 9px;
        }
        .tab-distance {
            font-size: 12px;
        }
        .flex-block {
            width: 28%;
            padding: 0 0 0 5px;
        }
        .detail-desc {
            padding-right: 15px;
            line-height: 1.2;
        }
        .detail-img{
            height: 124px;
            overflow: hidden;
            margin-bottom: 14px;
            img{
                height: 100%;
                width: auto;
            }
        }
        .social-item{
            width: 28px;
            height: 28px;
        }
        .social-fb{
            background-size: 9px;
            margin-bottom: 7px;
        }
        .social-tw{
            background-size: 16px;
        }
    }
    .col-4 {
        padding: 4px;
    }
    .row {
        padding-left: 4px;
        padding-right: 4px;
    }
    .social{
        top: 220px;
    }
}
//end modal