@import "variables";
//body {
//    background-color: $dark-blue !important;
//}
.nav{
    display: inline-block;
    text-align: center;
}
.nav-item{
    display: inline-block;
    vertical-align: top;
}
@media screen and (min-width:769px) and (max-width:1280px) {
    .tab-content {
        padding-top: 0;
    }
}