<div [ngClass]="{'background-image': true, 'bg-show': showBG, 'bg-hide': !showBG}"
     [ngStyle]="{'background-image': currentBGImage}"></div>

<div class="wrapper loader">
  <app-header></app-header>

  <div class="container">
    <agm-map [latitude]="centerMap.latitude"
             [longitude]="centerMap.longitude"
             [zoom]="6"
             [zoomControl]="true"
             [mapTypeControl]="false"
             [scaleControl]="false"
             [streetViewControl]="false"
             [rotateControl]="false"
             [fullscreenControl]="true"
             [scrollwheel]="false">
      <agm-marker *ngFor="let marker of markers"
                  [iconUrl]="marker.image"
                  [latitude]="marker.latitude"
                  [longitude]="marker.longitude"></agm-marker>
    </agm-map>
    <router-outlet></router-outlet>

    <div [ngClass]="{'view-on-map': true, 'rotate': rotate}"
         (click)="hideDestinations()">
      <span class="title-no-map">View on map</span>
      <span class="title-map">View destinations</span>
    </div>

  </div>
</div>

<div class="social">
  <a href="" class="social-item social-fb">
  </a>
  <a href="" class="social-item social-tw">
  </a>
</div>
