<!--<destination-list></destination-list>-->
<!--<destination></destination>-->
<main></main>

<!--<agm-map [zoom]="6"-->
         <!--[zoomControl]="true"-->
         <!--[mapTypeControl]="true"-->
         <!--[scaleControl]="true"-->
         <!--[streetViewControl]="true"-->
         <!--[rotateControl]="true"-->
         <!--[fullscreenControl]="true"-->
         <!--[scrollwheel]="true">-->
  <!--<sebm-google-map-directions [origin]="origin"-->
                              <!--[destination]="destination"></sebm-google-map-directions>-->
<!--</agm-map>-->