<!--<div class="places-title">-->
  <!--<div class="places-title-name">-->
    <!--<span>Journey</span>-->
    <!--<span>length:</span>-->
  <!--</div>-->
  <!--<div class="places-title places-title-explore" *ngIf="searchType">-->
    <!--<p class="places-title-name">-->
      <!--Explore Destinations-->
    <!--</p>-->
  <!--</div>-->
  <!--<div class="places-title places-title-popular">-->
    <!--<p class="places-title-name">-->
      <!--Most Popular Destinations-->
    <!--</p>-->
  <!--</div>-->
  <!--<ul class="nav nav-tabs" role="tablist">-->
    <!--<li class="nav-item nav-item-close">-->
      <!--<a class="nav-link nav-link-close active" data-toggle="tab" href="#close" role="tab">-->
        <!--<span>small mark</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link nav-link-middle" data-toggle="tab" href="#middle" role="tab">-->
        <!--<span>middle mark</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link nav-link-long" data-toggle="tab" href="#far" role="tab">-->
        <!--<span>large mart</span>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
<!--<div class="distance-title">-->
  <!--<div class="tab-content">-->
    <!--<div class="tab-pane min-dist active" id="close" role="tabpanel">-->
      <!--< 500 KM-->
    <!--</div>-->
    <!--<div class="tab-pane average-dist" id="middle" role="tabpanel">-->
      <!--500 - 1,000 KM-->
    <!--</div>-->
    <!--<div class="tab-pane max-dist" id="far" role="tabpanel">-->
      <!--1,000+ KM-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="destinations">
  <destination></destination>
</div>
<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><< Back to results</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="popup">
          <div class="container">
            <div class="row top">
              <div class="col-6">
                <div class="detail-title">Mumbai</div>
              </div>
              <div class="col-6">
                <div class="detail-desc">
                </div>
              </div>
            </div>
            <div class="detail-img">
              <img src="../../../../assets/images/popup.jpg" alt="">
              <div class="social">
                <a href="" class="social-item social-fb">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="social-item social-tw">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
            </div>
            <ul class="row nav nav-tabs" role="tablist">
              <li class="col-4 nav-item nav-item-route">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Route</a>
              </li>
              <li class="col-4 nav-item nav-item-car">
                <a class="nav-link"
                   href=""></a>
              </li>
              <li class="col-4 nav-item nav-item-hotel">
                <a class="nav-link"
                   href=""></a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="row tab-pane active" id="home" role="tabpanel">
                <div class="col-4  flex-block">
                  <div class="tab-distance">
                    <span>Distance</span>
                    <span class="modal-distance"></span>
                  </div>
                </div>
                <div class="col-8 small-map">
                  <route-map></route-map>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>