<agm-map [latitude]="_centerMap.latitude"
         [longitude]="_centerMap.longitude"
         [zoom]="8"
         [zoomControl]="false"
         [mapTypeControl]="false"
         [scaleControl]="false"
         [streetViewControl]="false"
         [rotateControl]="false"
         [fullscreenControl]="false"
         [scrollwheel]="false">
  <agm-marker *ngFor="let marker of markers"
              [iconUrl]="marker.image"
              [latitude]="marker.latitude"
              [longitude]="marker.longitude"></agm-marker>
</agm-map>